.terraform/
.terragrunt-cache/
root.hcl
live/staging/terragrunt.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.auto.tfvars
**/*.hcl.lock
packer/manifest.json
packer/cache/
*.pkrvars.hcl
*.zip
*.log
*.retry
*.swp
.vscode/
.idea/
.DS_Store
